div {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
#backround {
    height: 725px;
}
body {
    background-color: steelblue;
}
header {
    background-color: green;
}
nav a:hover {
    background-color: black;
    color: steelblue;
}
.icon {
    width: 80pxb;
}
footer p {
    text-size-adjust: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}